body {
    padding: 0;
    background: #FAFAFA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard-img {
    width: 142px;
    height: 30px;
    margin-left: 25px;
    margin-right: 70px;
}

.dashboard-search-icon {
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

.searchbar {
    width: auto;
    border: none;
}

.dashboard-notification-icon {
    margin-right: 50px;
}

.dashboard-profile-icon {
    width: 44px;
    height: 44px;
    margin-right: 12px;
}

.dashboard-select-downward {
    margin-left: 15px;
}

.sidebarimg {
    max-width: 25px;
    max-height: 25px;
    color: #c8242f;
    margin: 0 10px 0 0;
}


.sidebarimg {
    max-width: 25px;
    max-height: 25px;
    color: #c8242f;
    margin: 0 10px 0 0;
}

.dashbord-sidebar-detail {
    background: #fff3f4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.sidebar-detail {
    padding: 10px 0 10px 15px;
    margin: 0 0 10px 0;
}

.sidebar {
    margin-top: 25px;
}#analysis {
    width: 100%;
    padding: 40px 50px;
}

#analysis form {
    background-color: #FFFFFF;
    padding: 22.52px 30.5px 35.87px 29px;
    border-radius: 5px;
}

#first-col,
#second-col,
#third-col,
#fourth-col {
    margin-bottom: 47.02px;
}

#first-col h3 {
    font-size: 22px;
    color: #3E3E3E;
}

#first-col {
    display: flex;
    flex-direction: column;
}

#first-col input,
#first-col select {
    height: 49px;
}

#first-col textarea {
    height: 130px;
}

#first-col input,
#first-col select,
#first-col textarea {
    border: 1px solid #ADADAD;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 21px;
}

#first-col textarea {
    margin: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

select {
    color: #ADADAD;
}

#second-col div {
    margin-bottom: 20px;
}

#second-col h3,
#third-col h3,
#fourth-col h3 {
    font-size: 22px;
    color: #3E3E3E;
}
/* for placeholder traslation */
div.input-block {
    position: relative;
}
div.input-block input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    /* border: 1px solid  #ADADAD; */
    outline:none;
}
div.input-block span.placeholder, .placeholder-disabled {
    font-size: 1rem;
    position: absolute;
    margin-top: 7px;
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    color:  #6c757d;
    display: flex;
    align-items: center;

    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder{
    transform: scale(0.8) translateY(-20px);
    background: #fff;
}
span.placeholder-disabled{
    transform: scale(0.8) translateY(-28px);
    background: #fff;
}
div.input-block input:focus{
    color: #284B63;
    border-color: #284B63;
}
div.input-block input:focus + span.placeholder {
    color: #284B63;
}
#input-focus > input:focus {
    border-color: #FF3535;
}


/* #second-col div input {
    margin-right: 30px;
}

#second-col input,
#second-col fieldset,
#second-col select,
#third-col fieldset,
#fourth-col fieldset,
#fourth-col input,
#fourth-col select {
    width: 100%;
    height: 49px;
    padding-left: 10px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}

#second-col fieldset {
    margin-top: -5px;
    height: 55px;
}

#second-col fieldset legend,
#third-col fieldset legend {
    font-size: 12px;
    margin: 0;
    padding: 0 5px;
    width: 65px;
    color: #ADADAD;
}

#second-col fieldset input,
#third-col fieldset input,
#fourth-col fieldset input {
    border: none;
    height: 80%;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
} */

#third-col div {
    display: flex;
    margin-bottom: 20px;
}

/* #third-col fieldset,
#fourth-col fieldset {
    height: 55px;
}

#third-col fieldset:nth-child(3) {
    border: 1px dotted #ADADAD;
}

#focus-border {
    border: 1px solid #C8242F;
}

#fourth-col fieldset {
    margin-right: 10px;
    border: 1px solid #ADADAD;
}

#fourth-col select {
    margin-top: 2px;
}

#fourth-col fieldset legend {
    font-size: 12px;
    margin: 0;
    padding: 0 5px;
    width: 70px;
    color: #ADADAD;
}

#fourth-col div .highlighted {
    border: 1px solid #FF3B3B;
}

#fourth-col div .highlighted legend {
    color: #FF3B3B;
}

#fourth-col div {
    margin-bottom: 10px;
} */

#en-va-da {
    color: #FF3B3B;
}

#other-col input {
    width: auto;
    height: auto;
}

.msg-icon {
    width: 20px;
    height: 20px;
}

#other-col h3 {
    font-size: 22px;
    color: #3E3E3E;
    margin-bottom: 21.13px;
}

#other-col div h4 {
    font-size: 18px;
    color: #3E3E3E;
}

#file-upload {
    margin-bottom: 36.15px;
}

#file-upload h4 {
    margin-bottom: 15.85px;
}

#file-upload div {
    display: flex;
}

#file-upload div button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 36px;
    border: 1px solid #C8242F;
    border-radius: 18px;
    background-color: transparent;
}

#file-upload div button p {
    margin: 0;
    margin-left: 10px;
    color: #C8242F;
}

#file-upload div p {
    font-size: 12px;
    color: #ADADAD;
    margin: 0;
    padding: 10px;
    margin-left: 19.5px;
}

#radio-btns {
    margin-bottom: 32.52px;
}

#radio-btns h4 {
    margin-bottom: 11.48px;
}

#radio-btns div input {
    margin-right: 9.42px;
}

#radio-btns div span {
    margin-right: 42.75px;
}

#checkbox {
    margin-bottom: 34.52px;
}

#checkbox h4 {
    margin-bottom: 12.48px;
}

#checkbox div input {
    margin-right: 9.1px;
}

#checkbox div span {
    margin-right: 36.9px;
}

#snackbar {
    margin-bottom: 34.15px;
}

#snackbar h4 {
    margin-bottom: 15.85px;
}

#snackbar div {
    display: flex;
}

#snackbar div span {
    display: flex;
    width: 563px;
    height: 44px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    align-items: center;
}

#snackbar div span p {
    margin: 0;
}

#snackbar div span img {
    margin: 0 10px;
}

#error {
    border: 1px solid #FF3535;
    color: #FF3535;
}

#info {
    border: 1px solid #00B9E1;
    color: #00B9E1;
}

#warning {
    border: 1px solid #FFA800;
    color: #FFA800;
}

#success {
    border: 1px solid #00AF27;
    color: #00AF27;
}

#cta {
    margin-bottom: 34.65px;
}

#cta h4 {
    margin-bottom: 15.35px;
}

#cta div button {
    width: 124px;
    height: 45px;
    margin-right: 20.5px;
    border-radius: 23px;
    border: 1px solid #C8242F;
}

#cta div button p {
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#primary-btn {
    background-color: #C8242F;
    color: #FFFFFF;
}

#second-btn {
    background-color: transparent;
    color: #C8242F;
}

#tab h4 {
    margin-bottom: 21.48px;
}

#tab div {
    border-bottom: 1px solid #ADADAD;
    margin-bottom: 26.63px;
}

#tab div ul {
    display: flex;
    padding: 0;
    margin-bottom: 10px;
}

#tab div ul li {
    list-style: none;
    margin-right: 36px;
    margin-left: 10px;
    font-size: 15px;
    color: #ADADAD;
}

#tab div ul li:nth-child(1) {
    color: #C8242F;
}

#red-line {
    position: relative;
    top: 31px;
    right: 248px;
    width: 59px;
    height: 1px;
    border: 2px solid #C8242F;
}

@media (max-width: 575px) {
    .right-nevigation{
        display: none;
    }
    #left-menu,
    #right-menu {
        padding: 10px 0;
    }

    nav {
        height: 60px;
    }

    #left-menu ul {
        padding: 0 5px;
    }

    #left-menu ul li {
        padding: 0 4px;
    }

    #right-menu ul {
        padding: 0 5px;
    }

    #right-menu ul li {
        padding: 0 4px;
    }

    #right-menu ul li p {
        font-size: 10px;
    }

    #not-icon {
        width: 15px;
        height: 15px;
    }

    #profile-pic {
        padding-left: 10px;
        width: 40px;
        height: 30px;
    }

    #down-arr {
        width: 15px;
        height: 15px;
    }

    #search ul {
        padding: 0;
    }

    #search p {
        font-size: 10px;
    }

    #logo {
        width: 90px;
    }

    #analysis {
        padding: 20px 30px;
    }

    #analysis h1 {
        font-size: 1.75rem;
    }

    #first-col h3,
    #second-col h3,
    #third-col h3,
    #fourth-col h3,
    #other-col h3 {
        font-size: 18px;
    }

    #file-upload h4,
    #radio-btns h4,
    #checkbox h4,
    #snackbar h4,
    #cta h4,
    #tab h4 {
        font-size: 16px;
    }

    #first-col input,
    #first-col select,
    #second-col input,
    #second-col select,
    #fourth-col input,
    #fourth-col select {
        height: 35px;
    }

    #second-col fieldset,
    #third-col fieldset,
    #fourth-col fieldset {
        height: 43px;
    }

    #other-col input {
        height: auto;
    }

    #other-col div h4{
        font-size: 16px;
    }

    #file-upload div button{
        width: 105px;
        height: 35px;
    }

    #file-upload div p{
        padding: 0;
        margin-top: 7px;
    }

    #snackbar div {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    #snackbar div span p {
        font-size: 13px;
    }

    #cta div button {
        width: 90px;
        height: 34px;
    }

    #cta div button p {
        font-size: 13px;
    }

    #tab div ul li{
        margin-right: 15px;
        font-size: 13px;
    }

    #tab p{
        font-size: 13px;
    }

    #red-line{
        top: 28px;
        right: 170px;
    }
   
}

@media (min-width: 576px) and (max-width: 767px) {
   
    #left-menu ul li {
        padding: 0 5px;
    }

    #right-menu ul li {
        padding: 0 6px;
    }

    #profile-pic {
        padding-left: 20px;
    }

    #search ul {
        padding: 0;
    }

    #search p {
        font-size: 15px;
    }

    #logo {
        width: 120px;
    }

    #analysis {
        padding: 20px 30px;
    }

    #analysis h1 {
        font-size: 2rem;
    }

    #first-col h3,
    #second-col h3,
    #third-col h3,
    #fourth-col h3,
    #other-col h3 {
        font-size: 20px;
    }

    #file-upload h4,
    #radio-btns h4,
    #checkbox h4,
    #snackbar h4,
    #cta h4,
    #tab h4 {
        font-size: 18px;
    }

    #first-col input,
    #first-col select,
    #second-col input,
    #second-col select,
    #fourth-col input,
    #fourth-col select {
        height: 40px;
    }

    #second-col fieldset,
    #third-col fieldset,
    #fourth-col fieldset {
        height: 45px;
    }

    #other-col input {
        height: auto;
    }

    #snackbar div span p {
        font-size: 14px;
    }

    #cta div button {
        width: 110px;
        height: 40px;
    }

    #cta div button p {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #analysis h1 {
        font-size: 2rem;
    }

    #first-col h3,
    #second-col h3,
    #third-col h3,
    #fourth-col h3,
    #other-col h3 {
        font-size: 20px;
    }

    #file-upload h4,
    #radio-btns h4,
    #checkbox h4,
    #snackbar h4,
    #cta h4,
    #tab h4 {
        font-size: 18px;
    }

    #first-col input,
    #first-col select,
    #second-col input,
    #second-col select,
    #fourth-col input,
    #fourth-col select {
        height: 40px;
    }

    #second-col fieldset,
    #third-col fieldset,
    #fourth-col fieldset {
        height: 45px;
    }

    #other-col input {
        height: auto;
    }

    #cta div button {
        width: 110px;
        height: 40px;
    }

    #cta div button p {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #analysis h1 {
        font-size: 2.15rem;
    }

    #first-col h3,
    #second-col h3,
    #third-col h3,
    #fourth-col h3,
    #other-col h3 {
        font-size: 20px;
    }

    #file-upload h4,
    #radio-btns h4,
    #checkbox h4,
    #snackbar h4,
    #cta h4,
    #tab h4 {
        font-size: 18px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    #analysis h1 {
        font-size: 2.25rem;
    }
}